.content {
  margin-left: 375px;
  padding: 20px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 375px;
  height: 0vh;
  float: left;
  background-color: #ebb134;
  position: fixed;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: blue;
  padding: 20px;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #e6bc63;
  color: white;
}
