.content {
  margin-left: 375px;
  padding: 50px;
}

.sidebar {
  width: 375px;
  height: 100vh;
  float: left;
  background-color: #ebb134;
  position: fixed;
}

.sidebar a {
  display: block;
  margin: 150px;
  color: #a1720d;
  padding: 50px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #e6bc63;
  color: white;
}
